{% extends "base.html" %}
{% block content %}
    <h2>About Us</h2>
    <p>Teal Research Lab is a cutting-edge research facility located in the Indian Institute of Technology Bombay, Mumbai, Maharashtra, India.</p>
    <p>The Thermal Remote Sensing and Environmental Applications Lab (TEAL) at the Department of Civil Engineering, Indian Institute of Technology (IIT) Bombay, is dedicated to advancing remote sensing technologies, primarily using thermal remote sensing data for hydrology, water resources, and environmental applications. Our research focuses on evapotranspiration modeling, drought monitoring, soil moisture estimation, land surface temperature modeling and downscaling, and UAV-based applications in agriculture and water management, along with Gross Primary Production (GPP) estimation.</p>
{% endblock %}