{% extends "base.html" %}
{% block content %}

    <!-- Notification Banner -->
    <div class="notification-banner">
        <p><strong>Upcoming Event:</strong> Join us for the <em>Thermal Workshop</em> hosted by our lab on <strong>May 14-15, 2025</strong>. We invite participants to be a part of this exciting event. <br> <strong>Stay tuned for further updates!</strong></p>
    </div>

    <h2>Welcome to Teal Research Lab</h2>
    <p>Our mission statement and lab description go here.</p>
    <img src="https://via.placeholder.com/400" alt="Placeholder Image">

{% endblock %}